.photo-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px;
  .photo-grid__photo-container {
    .photo {
      margin-left: 10px;
      height: 300px;
      width: auto;
    }
  }
}
