.search-bar {
  position: relative;
  .loading-icon {
    display: block;
    position: absolute;
    left: -35px;
    font-size: 1.3em;
    line-height: 1.3em;
  }
  .search-bar__input {
    padding: 10px;
    border-radius: 5px 0px 0px 5px;
    border: none;
    @media (min-width: 650px) {
      width: 500px;
    }
  }
  .search-bar__button {
    padding: 10px;
    border-radius: 0px 5px 5px 0px;
    border: none;
    background: rgb(38, 38, 38);
    width: 100px;
    color: white;
    .fa {
      margin-right: 5px;
    }
  }
}
